<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{{ category_name }}</title>
</head>
<body>
    <h1>{{ category_name }}</h1>
    <div class="video-section">
        {% for video in videos %}
        <div class="video-item">
            <h3>{{ video.Title }}</h3>
            <p>Duration: {{ video.Duration }} sec</p>
            <img src="{{ video.Thumbnail }}" alt="Thumbnail">
            <div class="video-embed">{{ video.Embed | safe }}</div>
            <p>Tags: {{ video.Tags }}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>
