{% extends "base.html" %}

{% block content %}
    <div class="hero">
        <div class="hero-overlay">
            <h1 class="site-title">{{ category_name }} Videos - {{ section|capitalize }}</h1>
        </div>
    </div>
    <div class="comet-trail"></div>

    <section class="video-section">
        <h2 class="section-title">{{ category_name }} - {{ section|capitalize }}</h2>
        {% for video in videos %}
        <div class="video-card">
            <img class="video-thumbnail" src="{{ video.Thumbnail }}" alt="Video Thumbnail">
            <div class="video-embed">
                {{ video.Embed | safe }}
            </div>
 

            <div class="video-info">
                <h3>{{ video.Title }}</h3>
                
                <p>Duration: {{ video.Duration }} sec</p>
                
            </div>
        </div>
        {% endfor %}
    </section>
{% endblock %}





